@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Back End Proyecto # 1 Hotel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F2F2F2;
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
            font-size: 24px;
        }

        ul {
            list-style-type: disc;
            margin: 20px;
            padding: 0;
        }

        li {
            color: #666;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .Imagen {
            max-width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(../Articulo/MicrosoftTeams-image.png);
        }
    </style>
</head>
<body>


    <h1>Back End Proyecto # 1 Hotel 1 Cuatrimestre 2024 :) </h1>





</body>
</html>